<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <link href="report.css" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Shipit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/cs_packages">Packages Associated with your Branch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cs_reports">Report Pool</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my_account">Profile</a>
            </li>

            <li class="nav-item">
                <form action="/my_account?logout=true" method="POST">
                    <a class="nav-link" onclick="this.parentNode.submit()">Logout</a>
                </form>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/cs_packages" method="GET">
            <input name="id" class="form-control mr-sm-2" type="search" placeholder="Search a Package" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Default form subscription -->
<div class="w-25 vertical-center center_div text-center border border-light p-5 center_div container container-table">


    <div class="row vertical-center-row">
        <p class="h7 mb-7 float-left" style="color: white">Report ID:     <span th:text="${report.getReport_id()}"  class="h5 mb-5"style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h7 mb-7 float-left" style="color: white">Courier:     <span th:text="${ courier}"  class="h5 mb-5"style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h7 mb-7 float-left" style="color: white">Related Package ID:     <span th:text="${report.getPackage_id()}" class="h5 mb-5 " style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h7 mb-7 float-left" style="color: white">Issue Date:     <span th:text="${report.getIssue_date()}" class="h5 mb-5 "style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h7 mb-7 float-left" style="color: white">Report Type:     <span th:text="${report.getReport_type()}" class="h5 mb-5 "style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h7 mb-7 float-left" style="color: white">Status:     <span th:text="${report.getReport_status()}" class="h5 mb-5 "style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h7 mb-7 float-left" style="color: white">Description:     <span th:text="${report.getDescription()}" class="h5 mb-5 " style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h7 mb-7 float-left" style="color: white">Handler ID:     <span th:text="${report.getHandler_id()}" class="h5 mb-5 " style="color: darkgray"></span></p>
    </div>
    <div  th:if="${report.handler_id == userId }" class="row vertical-center-row">
        <form class="text-center border border-light p-10 center_div" ACTION='#' th:action="@{/cs_update_result}"   method="POST">

            <select th:name="result" class="custom-select controls" id="result">
                <option th:value="positive" selected>positive</option>
                <option th:value="negative" selected>negative</option>
            </select>
            <input type="hidden" id="package_id2" name="package_id2"  th:value ="${report.getPackage_id()}"/>
            <input type="hidden" id="id2" name="id2"  th:value="${report.getReport_id()}"/>
            <button type="submit" class="btn btn-success">Update</button>

        </form>
        <p class="h7 mb-7 float-left" style="color: white">Current Result:     <span th:text="${report.getResult()}" class="h5 mb-5 "style="color: darkgray"></span></p>
    </div>
    <div  th:if="${report.handler_id != userId }" class="row vertical-center-row">
        <p class="h7 mb-7 float-left" style="color: white">Result:     <span th:text="${report.getResult()}" class="h5 mb-5 "style="color: darkgray"></span></p>
    </div>

</div>


<div id="dialogue-page" class="hidden">
    <div class="dialogue-container">
        <div class="dialogue-header">
            <h3>Message Board of The Report</h3>
        </div>
        <ul id="messageList">
            <table class="table ">
                <thead>
                <tr>
                    <th scope="col">Other Side</th>
                    <th scope="col">Send Date</th>
                    <th scope="col">You</th>
                </tr>
                </thead>
                <tbody>

                <tr th:block th:each="messageepair, iStat : ${myList}">
                    <td th:text="${messageepair.m2.textt}"></td>
                    <td th:text="${messageepair.m1.date}"></td>
                    <td th:text="${messageepair.m1.textt}"></td>
                    </th:block>

                </tr>

                </tbody>

            </table>
        </ul>

        <form id="dialogueForm" name="dialogueForm" ACTION='#' th:action="@{/cs_chat.sendMessage}"  th:object="${newMessage}" method="GET" >
            <label for="newMessagee"> </label><input type="text" th:field="*{text}" minlength="1" maxlength="30" class="form-control mb-4" id="newMessagee" name="newMessagee" placeholder="Enter a Message...">
            <input type="hidden" id="package_id" name="package_id"  th:value ="${report.getPackage_id()}"/>
            <input type="hidden" id="id" name="id"  th:value="${report.getReport_id()}"/>
            <button type="submit" class="btn btn-success">Send</button>
        </form>

    </div>
</div>

</body>
<body onload="f(${messages})"> </body>
</html>