<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="register.css" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="w-25 center_div">
    <form class="text-center border border-light p-5 center_div" ACTION='#' th:action="@{/register}" th:object="${customer}" method="POST">

        <div id="legend">
            <legend class="">Register</legend>
        </div>


        <input class="form-control mb-4" type="text" th:field="*{email}" id="email" name="email" placeholder="email">

        <input class="form-control mb-4" type="password" th:field="*{encryptedPassword}" id="password" name="password" placeholder="password">

        <input class="form-control mb-4" type="text" th:field="*{firstName}" id="firstname" name="firstname" placeholder="first name">

        <input class="form-control mb-4" type="text" th:field="*{lastName}" id="lastname" name="lastname" placeholder="last name">

        <div class="input-group mb-3 control-group">
            <select th:field="*{city_name}" class="custom-select controls" id="inputGroupSelect01">
                <option th:value="0" selected>Choose a city...</option>
                <option th:each="city : ${cities}" th:value="${city}" th:text="${city}">
            </select>
        </div>

        <textarea class="form-control mb-4" th:field="*{address}" id="address" name="address" rows="3" placeholder="Address..."></textarea>

        <input class="form-control mb-4" type="text" th:field="*{phone_number}" value="+90" id="phone" name="phone" placeholder="phone number">


        <button class="btn btn-success">Register</button>
    </form>
</div>
</body>
</html>