<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    <link href="package.css" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>

<!-- Default form subscription -->
<div class="w-25 center_div text-center border border-light p-5 center_div container container-table">


    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">Customer ID:     <span th:text="${customer.getID()}"  class="h5 mb-5"style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">First Name:     <span th:text="${customer.getFirstName()}" class="h5 mb-5 "style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">Surname:     <span th:text="${customer.getLastName()}" class="h5 mb-5 "style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">Address:     <span th:text="${customer.getAddress()}" class="h5 mb-5 "style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">Phone-number:     <span th:text="${customer.getPhone_number()}" class="h5 mb-5 "style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <span><p class="h4 mb-4 float-left" style="color: white">Your Credits:     <span th:text="${customer.getCredits()}" class="h5 mb-5 " style="color: darkgray"></span></p> <button class="btn btn-danger">Load Credit</button></span>
    </div>

    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">Your Subscription:     -</p>
    </div>



</div>

</body>
</html>