<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    <link href="account.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script>
        $(function() {
            $('[data-toggle="popover"]').popover({
                title: "Buy Subscription",
                html: true,
                sanitize: false,
                content: function() {
                    return $('#popover-content').html();
                }
            });
        });
        $( "#popover-content" ).bind( "submit", function() {
            alert("succeed");
            return false;
        })
    </script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Shipit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/packages">Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reports">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my_subscriptions">Subscriptions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my_account">Profile</a>
            </li>

            <li class="nav-item">
                <form action="/my_account?logout=true" method="POST">
                    <a class="nav-link" onclick="this.parentNode.submit()">Logout</a>
                </form>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/package" method="GET">
            <input name="id" class="form-control mr-sm-2" type="search" placeholder="Search a Package" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<p align="center" class="h2 mb-2">Account Information</p>

<!-- Default form subscription -->
<div class="w-25 vertical-center center_div text-center border border-light p-5 center_div container container-table">


    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">Customer ID:     <span th:text="${customer.getID()}"  class="h5 mb-5"style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">First Name:     <span th:text="${customer.getFirstName()}" class="h5 mb-5 "style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">Surname:     <span th:text="${customer.getLastName()}" class="h5 mb-5 "style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">Address:     <span th:text="${customer.getAddress()}" class="h5 mb-5 "style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">Phone-number:     <span th:text="${customer.getPhone_number()}" class="h5 mb-5 "style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <span><p class="h4 mb-4 float-left" style="color: white">Your Credits:     <span th:text="${customer.getCredits()}" class="h5 mb-5 " style="color: darkgray"></span></p> <button class="btn btn-danger ml-4" data-toggle="popover">Load Credit</button></span>
    </div>

    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">Your Subscription:     <span th:text="${custSubscription}" class="h5 mb-5 " style="color: darkgray"></span></p>
    </div>

    <!-- loaded popover content -->
    <div id="popover-content" style="display: none">
        <form  th:action="@{/my_account}" method="POST">
            <p class="h4 mb-4">Type Amount</p>
            <input type="number" step="1" min="0" id="credits" name="credits" required/>
            <button type="submit" class="btn btn-danger mt-4">Charge</button>
        </form>
    </div>

</div>

<form th:action="@{/my_account}" method="POST">
    <div class="w-25 center_div mt-10">
        <button align="center" class="btn btn-danger" type="submit" th:name="logout" th:value="True">Log out</button>
    </div>
</form>

</body>
</html>