<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="subscription.css" rel="stylesheet"/>
    <title>My Subscriptions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(function() {
            $('[data-toggle="popover"]').popover({
                title: "Buy Subscription",
                html: true,
                sanitize: false,
                content: function() {
                    return $('#popover-content').html();
                }
                });
        });
        $( "#popover-content" ).bind( "submit", function() {
            alert("succeed");
            return false;
        })
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Shipit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/packages">Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reports">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my_subscriptions">Subscriptions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my_account">Profile</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Statistics
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/top_senders">Top Senders</a>
                    <a class="dropdown-item" href="/percentage">Percentage Distribution</a>
                </div>
            </li>

            <li class="nav-item">
                <form action="/my_account?logout=true" method="POST">
                    <a class="nav-link" onclick="this.parentNode.submit()">Logout</a>
                </form>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/packages" method="GET">
            <input name="id" class="form-control mr-sm-2" type="search" placeholder="Search a Package" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="w-25 center_div bottom">
    <p align="center" class="h2 mb-2">Current Subscription</p>
</div>
<div th:if="${subscription != null}" class="container container-table">

    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">Subscription Number:     <span th:text="${subscription.getSubscriptionNumber()}"  class="h5 mb-5"style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">Subscription Tier:     <span th:text="${subscription.getSubscriptionTier()}" class="h5 mb-5 "style="color: darkgray"></span> <span class="h5 mb-5 "style="color: darkgray">free shipments per month</span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">Used Package Rights:     <span th:text="${subscription.getUsedPackageRights()}" class="h5 mb-5 "style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">Start Date:     <span th:text="${subscription.getStartDate()}" class="h5 mb-5 "style="color: darkgray"></span></p>
    </div>

    <div class="row vertical-center-row">
        <p class="h4 mb-4 float-left" style="color: white">End Date:     <span th:text="${subscription.getEndDate()}" class="h5 mb-5 "style="color: darkgray"></span></p>
    </div>

</div>

<form th:action="@{/my_subscriptions}" method="POST">
    <div align="center" class="center_div container container-table" th:if="${subscription != null}">
        <div class="row vertical-center-row">
            <div class="col-md-3"></div>
            <div class="col-md-3"><button type="submit" th:name="button" th:value="cancel" class="btn btn-danger">Cancel Subscription</button></div>
            <div class="col-md-3"><button type="submit" th:name="button" th:value="renew" class="btn btn-danger">Renew Subscription</button></div>
        </div>
    </div>
</form>


<div class="w-50 center_div container container-table" th:if="${subscription == null}">
    <br>
    <br>
    <p class="h5 mv-5" align="center" style="color: red">YOU DON'T HAVE ANY CURRENT SUBSCRIPTIONS!</p>
    <div align="center"><button class="btn btn-danger" data-toggle="popover">Book a new Subscription</button></div>
</div>

<!-- loaded popover content -->
<div id="popover-content" style="display: none">
    <form  th:action="@{/my_subscriptions}" method="POST">
        <p class="h4 mb-4">Select Tier</p>
        <select th:name="sub_tier" class="custom-select controls">
            <option th:value=5 selected>5 (50 credits)</option>
            <option th:value=10>10 (80 credits)</option>
            <option th:value=15>15 (100 credits)</option>
        </select>
        <button type="submit" class="btn btn-danger mt-3">Buy</button>
    </form>
</div>


<br>
<br>

<div class="w-25 center_div bottom">
    <p align="center" class="h2 mb-2">Subscription History</p>
</div>
<div class="w-50 center_div ">
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">Subscription Number</th>
            <th scope="col">Subscription Tier</th>
            <th scope="col">Used Package Rights</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subscription, iStat: ${subscription_history}">
            <td th:text="${subscription.getSubscriptionNumber()}"></td>
            <td th:text="${subscription.getSubscriptionTier()}"></td>
            <td th:text="${subscription.getUsedPackageRights()}"></td>
            <td th:text="${subscription.getStartDate()}"></td>
            <td th:text="${subscription.getEndDate()}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>

