<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Packages</title>
    <link href="packages.css" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Shipit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/packages">Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reports">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my_subscriptions">Subscriptions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my_account">Profile</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Statistics
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/top_senders">Top Senders</a>
                    <a class="dropdown-item" href="/percentage">Percentage Distribution</a>
                </div>
            </li>

            <li class="nav-item">
                <form action="/my_account?logout=true" method="POST">
                    <a class="nav-link" onclick="this.parentNode.submit()">Logout</a>
                </form>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/packages" method="GET">
            <input name="id" class="form-control mr-sm-2" type="search" placeholder="Search a Package" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="w-25 center_div">
    <p align="center">Package History</p>
</div>

<div class="w-25 center_div">
    <div align="center">
        <a class="btn btn-primary" href="/send_package">Send a Package</a>
    </div>
</div>

<div class="w-75 center_div ">
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">PackageID</th>
            <th scope="col">Sender</th>
            <th scope="col">Send Date</th>
            <th scope="col">Delivery Date</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="package, iStat : ${packages}">
            <th scope="row" th:text="${iStat.index + 1}" th:value="${iStat.index + 1}"></th>
            <td th:text="${package.package_id}"></td>
            <td th:text="${package.sender_id}"></td>
            <td th:text="${package.send_date}"></td>
            <td th:text="${package.delivery_date}"></td>
            <td th:text="${package.status}"><a th:href="@{/package(id=${package.package_id})}"></td>

            <div th:if="${package.status != 'onBranch'}">
                <td><button class="btn btn-success" disabled>Accept</button></td>
                <td><button class="btn btn-danger" disabled>Decline</button></td>
                <td><button class="btn btn-warning" disabled>Report</button></td>
            </div>
            <div th:if="${package.status == 'onBranch'}">
                <td><a th:href="@{/packages(id=${package.package_id}, accept='1')}" class="btn btn-success">Accept</a></td>
                <td><a th:href="@{/packages(id=${package.package_id}, decline='1')}" class="btn btn-danger">Decline</a></td>
                <td><a th:href="@{/file_report(id=${package.package_id}, issuer_id=${customer})}" class="btn btn-warning">Report</a></td>
            </div>

            <td><a th:href="@{/package(id=${package.package_id})}" class="btn btn-info">About</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>