<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Send Package</title>
    <link href="package.css" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){
            $("#package_type").change(function(){
                var cost = 0;
                var packageType = $("#package_type").children("option:selected").val();
                var deliveryType = $("#delivery_type").children("option:selected").val();

                if (packageType === "lightweight"){
                    cost = cost + 5;
                }
                else if (packageType === "medium"){
                    cost = cost + 7;
                }
                else if (packageType === "heavy"){
                    cost = cost + 10;
                }

                if (deliveryType === "normal"){
                    cost = cost + 5;
                }
                else if (deliveryType === "fast"){
                    cost = cost + 8;
                }
                else if (deliveryType === "superfast"){
                    cost = cost + 10;
                }

                $("#cost-p").html(cost);
                $("#cost-p").text(cost);
                $("#cost_val").val(cost);
            });

            $("#delivery_type").change(function(){
                var cost = 0;
                var packageType = $("#package_type").children("option:selected").val();
                var deliveryType = $("#delivery_type").children("option:selected").val();

                if (packageType === "lightweight"){
                    cost = cost + 5;
                }
                else if (packageType === "medium"){
                    cost = cost + 7;
                }
                else if (packageType === "heavy"){
                    cost = cost + 10;
                }

                if (deliveryType === "normal"){
                    cost = cost + 5;
                }
                else if (deliveryType === "fast"){
                    cost = cost + 8;
                }
                else if (deliveryType === "superfast"){
                    cost = cost + 10;
                }

                $("#cost-p").html(cost);
            });
        });

    </script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Shipit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/packages">Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reports">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my_subscriptions">Subscriptions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my_account">Profile</a>
            </li>

            <li class="nav-item">
                <form action="/my_account?logout=true" method="POST">
                    <a class="nav-link" onclick="this.parentNode.submit()">Logout</a>
                </form>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/package" method="GET">
            <input name="id" class="form-control mr-sm-2" type="search" placeholder="Search a Package" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Default form subscription -->
<div class="w-25 center_div">
    <form class="text-center border border-light p-5 center_div" ACTION='#' th:action="@{/send_package}" th:object="${package}" method="POST">

        <p class="h4 mb-4">Send a Package</p>

        <div class="input-group mb-3 control-group">
            <select th:field="*{receiver_id}" class="custom-select controls" id="receiver_id">
                <option th:value="0" selected>Choose a receiver...</option>
                <option th:each="receiver : ${receivers}" th:value="${receiver}" th:text="${receiver}">
            </select>
        </div>

        <div class="input-group mb-3 control-group">
            <select th:field="*{payment_side}" class="custom-select controls" id="payment_side">
                <option th:value="0" selected>Choose the payment side...</option>
                <option th:value="Sender" selected>Sender</option>
                <option th:value="Receiver" th:text="Receiver">
            </select>
        </div>

        <div class="input-group mb-3 control-group">
            <select th:field="*{from_city}" class="custom-select controls" id="departure_branch">
                <option th:value="0" selected>Choose a departure branch...</option>
                <option th:each="branch : ${branches}" th:value="${branch}" th:text="${branch}">
            </select>
        </div>

        <div class="input-group mb-3 control-group">
            <select th:field="*{delivery_type}" class="custom-select controls" id="delivery_type">
                <option th:value="0" selected>Choose a delivery type...</option>
                <option th:value="normal" selected>normal</option>
                <option th:value="fast" selected>fast</option>
                <option th:value="superfast" selected>super fast</option>
            </select>
        </div>

        <div class="input-group mb-3 control-group">
            <select th:field="*{package_type}" class="custom-select controls" id="package_type">
                <option th:value="0" selected>Choose a package type...</option>
                <option th:value="lightweight" selected>lightweight</option>
                <option th:value="medium" selected>medium</option>
                <option th:value="heavy" selected>heavy</option>
            </select>
        </div>


        <!-- Show Cost -->
        <button id="cost-btn" class="btn btn-primary btn-sm" type="button" disabled>Cost</button>
        <p id="cost-p">0</p>
        <input id="cost_val" type="hidden" th:field="*{cost}" th:name="cost" th:value="0">

        <button type="submit" class="btn btn-success">Send Package!</button>


    </form>
    <!-- Default form subscription -->

</div>

</body>
</html>